<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  
    package="com.siri.RearrangeScreens">

    <application
       
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Rearrange Screens"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.siri.RearrangeScreens.MainActivity"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:exported="false"
                android:name=".FirstActivity">

        </activity>
        <activity
                android:exported="false"
                android:name=".SecondActivity">

        </activity>
        <activity
                android:exported="false"
                android:name=".ThirdActivity">

        </activity>

        <activity
                android:exported="false"
                android:name=".FourthActivity">

        </activity>
        <activity
                android:exported="false"
                android:name=".FifthActivity">
        </activity>
        <activity
                android:exported="false"
                android:name=".SixthActivity">
        </activity>
        <activity
                android:exported="false"
                android:name=".SeventhActivity">
        </activity>
        <activity
                android:exported="false"
                android:name=".EighthActivity">
        </activity>
        <activity
                android:exported="false"
                android:name=".NinthActivity">
        </activity>
        <activity
                android:exported="false"
                android:name=".TenthActivity">
        </activity>
        <activity
                android:exported="false"
                android:name=".EleventhActivity">
        </activity>
    </application>

</manifest>
